html {
  background-color: rgb(187, 187, 187);
}

body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
	line-height: 1.667;
	color: #404040;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background-color: #fff;
  min-width: 480px;
}

#main {
  background-color: #fff;
}

.main-part {
  padding: 0.5em;
}

.top-bar {
  align-items: center;
  background-color: #004494;
  padding: 0.5em;
  text-align: center;
  margin-top: 0;
}

.top-bar h1 {
  font: normal normal 400 2rem/2.5rem Arial,sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.notice-type {
  font-size: 14px;
}

.notice-type-submit-button {
  padding: 1em;
}

.notice-type input:invalid {
  border-color: red;
}

.notice-type select {
  max-width: 20em;
}

.notice-content {
  padding: 0.25em;
  margin: 0.5em 0.25em 0.5em 0.25em;
  display: block;
}

.notice-content-container:hover {
  background-color: #ddd;
  cursor: pointer;
}

.notice-content-header {
  cursor: pointer;
  user-select: none;
  color: #004494;
}

.notice-content-section {
  border: solid 2px #004494;
  border-bottom: solid 4px #004494;
  border-radius: 0.5em;
}

.notice-content-section-opened {
  border: solid 1px #bbb !important;
}

.notice-content-non-section {
}

.notice-content-button {
  margin-right: 1em;
}

.notice-content-button-add {
}

.notice-content-button-remove {
  color: #a50;
}

.notice-content-repeatable {
  border: solid 4px #ddd;
}

.notice-content-valueList {
  background-color: #ff0 !important;
}

.notice-content-hidden {
  background-color: #999;
}

.notice-content-readOnly {
  background-color: #ddd;
}

textarea:read-only {
  background-color: #ddd;
}

.notice-content-field {
  min-width: 30em;
  border: solid 1px #999;
  border-radius: 2px;
}

.notice-content-field-url {
  min-width: 32em;
}

.notice-content-collapsed {
  border: dashed 1px #049;
}

.notice-content-required::after {
  content: " *";
}

.notice-content-field-repeatable-mismatch {
  content: " [+]";
  color: #a50;
}

.notice-content-field-repeatable::after {
  content: " [+]";
}

.notice-content-level1 .notice-content-header {
  font-size: 1.4em;
}
.notice-content-level2 .notice-content-header {
  font-size: 1.1em;
}
.notice-content-level3 .notice-content-header {
  font-size: 1em;
}
.notice-content-level4 .notice-content-header {
  font-size: 1em;
}
.notice-content-level5 .notice-content-header {
  font-size: 1em;
}
.notice-content-level6 .notice-content-header {
  font-size: 1em;
}


.editor-link {
  color: #fff;
  background-color: #339933;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 4px;
}

.editor-list {
  list-style: none;
}

.editor-list li:not(:last-child) {
  padding-bottom: 1em;
}

#editor-version-title {
  font-size: 1.2rem;
}

